@page
@model InlamningASP1.Pages.TheEventsModel

@{
    ViewData["Title"] = "TheEvents";
}

<h1>Events</h1>



        @{int i = 0;}
        @foreach (var item in Model.Event)
        {
            <div class="panel-group" id="accordion_@i">
                <div class="panel panel-default" id="panel_@i">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-target="#collapseOne_@i" href="#collapseOne_@i">
                                @Html.DisplayFor(modelItem => item.Title)
                            </a>
                        </h4><a asp-page="./JoinEvents" asp-route-id="@item.EventId">                       
                            <input type="button" class="btn btn-primary" value="Join">
                        </a>
                        <br />
                        <br />

                    </div>
                    <div id="collapseOne_@i" class="panel-collapse collapse in">
                        <div class="panel-body">
                            @Html.DisplayNameFor(model => model.Event[0].Description) : @Html.DisplayFor(modelItem => item.Description)
                            <br />

                            @Html.DisplayNameFor(model => model.Event[0].Place) :  @Html.DisplayFor(modelItem => item.Place)
                            <br />
                            @Html.DisplayNameFor(model => model.Event[0].Adress) : @Html.DisplayFor(modelItem => item.Adress)
                            <br />

                            @Html.DisplayNameFor(model => model.Event[0].Date) : @Html.DisplayFor(modelItem => item.Date)
                            <br />

                            @Html.DisplayNameFor(model => model.Event[0].SpotsAvailable) :  @Html.DisplayFor(modelItem => item.SpotsAvailable)
                            <br />
                  


                        </div>
                    </div>
                </div>
            </div>
            <br />
            <br />
            i++;

        }
